
span.ms-menu-list_dropdown-trigger {
 	display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 42px;
    width: 42px;
    background-color: #ffdd00;
 }

span.ms-menu-list_dropdown-trigger::after {
	color: black;
	width: 42px;
    line-height: 42px;
}

span.ms-menu-list_dropdown-trigger:hover, span.ms-menu-list_dropdown-trigger:active, span.ms-menu-list_dropdown-trigger:focus {
	color: black !important;
}

#mc_embed_signup {
	background-color: transparent !important;
}

#mc_embed_signup form {
	padding: 0 !important;
	margin: 10px 0;
}

#mc_embed_signup_scroll {
	position: relative;
}

#mc_embed_signup input.email {
	border-radius: 3px;
    border-width: 2px;
    border-color: white;
    color: white;
    width: 65%;
}


#mc_embed_signup input.email:focus {
	border-color: white !important;
}

#mc_embed_signup .clear {
	position: absolute;
    right: 0;
    top: 0;
}

#mc_embed_signup input.button {
	background-color: transparent;
	text-transform: uppercase;

}

#mc_embed_signup input.button:hover, #mc_embed_signup input.button:active, #mc_embed_signup input.button:focus {
	background-color: transparent !important;
}

.custom_footer.custom_footer5 {
	color: white;
}

.widget__collections ul li a {
	padding-left: 10px !important;
}